<!DOCTYPE html>
<html>
<head>
  <script src="https://use.fonticons.com/cbd966b3.js"></script>
  <meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=Jura:400,500' rel='stylesheet'>
  <title>Sunergos| Coffee</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/sweetalert.css"/>


</head>

<body>
<div id="app">{{ message }}</div>
</div>
	<header>
			<nav class="main-header">
			<ul class="main-nav">
				<li><a href="index.html"><span>Home</span> <i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="locations.html"><span>locations</span><i class="fa fa-location fa-lg"></i></a></li>
				<li><a href="shop.html"><span>Shop</span><i class="fa fa-shopping-cart fa-lg"></i></a></li>
				<li><a href="wholesale.html"><span>Wholesale</span><i class="fa fa-wholesale fa-lg"></i></a></li>
      </ul>
		</nav>
	</header>

  <!--/.main-header-->

	<div id="top" class="banner whole">

		<a><img class="logo title" src="img/Sunergos_circle.png" alt="City"></a>
		<i class="fa fa-angle-double-down"></i>
	</div>

	<div class="primary-content t-border">

		<div>
      <iframe class="snapwidget-widget" src="http://snapwidget.com/sc/?u=c3VuZXJnb3NfY29mZmVlfGlufDE1MHwzfDF8fHllc3wyMHxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=300116" alt="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no">
      </iframe>

    </div>
    <p class="intro">
			Our wholesale team is devoted to getting you amazing coffee! Whether you are starting a new café, desiring exceptional coffee for your existing business, upgrading your office coffee, or anything in between we want to partner with you.
    </p>



  </div>
<div class="secondary-content wholesalePad t-border group">
<div class="row wholesaleFix">
	<div class="col-sm-4 col-xs-12">
		<div class="locations">
			<h6 class="colorHead">Consulting</h6>

			<img class="Wholesalepic" class="preston" src="img/Equiptment.jpg" alt="Locations">

			<section class="wholesale-color">We have years of consulting experience, coming alongside our wholesale partners to help shape or reshape their concept. Our seasoned team can assist with all of the details of running a successful coffee business.</section>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		<div class="locations">
			<h6 class="colorHead">Training</h6>

			<img class="Wholesalepic" src="img/latte_art.jpg" alt="Locations">

			<section class="wholesale-color">We provide all of our wholesale customers with startup and ongoing training; we will turn you into a coffee expert! Our training consists of everything from espresso bar skills to teamwork.</section>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		<div class="locations">
			<h6 class="colorHead">Equipment</h6>

			<img class="Wholesalepic" src="img/Wholesale+Consulting.jpg" alt="Locations">

			<section class="wholesale-color ">We sell, install, and service coffee equipment from choice manufacturers and will work with your budget to build the package that suits your vision.</section>
		</div>
	</div>
</div>
<p class="intro">
	Our wholesale team is devoted to getting you amazing coffee! Whether you are starting a new café, desiring exceptional coffee for your existing business, upgrading your office coffee, or anything in between we want to partner with you.
</p>
</div>

<h3 class="center-here">Need Help?....Contact Us!</h3>
        <fieldset>


					<form id="formId" action="//formspree.io/luke.v@att.net" method="POST">
						<validator id="validation" name="validation1">


									<!-- <label for="username">Name:</label>
									<input id="username" type="text" v-validate:username="['required']"><p class="forget" v-if="$validation1.username.required">Don't Forget Your Name!</p></input>
								</div> -->
							<label for="name">Name:
							<p class="forget" v-if="$validation1.username.required">Don't Forget Your Name!</p></label>
							<input type="text" v-validate:username="['required']" /></input>
							<label for="name">Business Name:</label>
			        <input type="text" name="name">
							<label for="name">City / State:</label>
			        <input type="text" placeholder="ex. Louisville/Kentucky"name="name">
							<label for="name">Phone Number</label>
			        <input type="text" placeholder="(xxx)-xxx-xxxx" name="name">
							<label for="mail">Email: <p class="forget" v-if="$validation1.email.required">Please Enter Email.</p></label>
			        <input type="email" v-validate:email="['required']" name="_replyto">
							<label for="bio">How Can We Serve You?</label>
							<textarea id="bio" name="Info" v-model="message"></textarea>
							<label>Interests:</label>
							<input type="checkbox" id="development" value="Consulting" name="user_interest"><label class="light" for="development">Consulting</label><br>
							<input type="checkbox" id="design" value="Equipment" name="user_interest"><label class="light" for="design">Equipment</label><br>
							<input type="checkbox" id="business" value="Training" name="user_interest"><label class="light" for="business">Training</label>

							<button id="#app" class="wholesale" type="submit" v-show="message" onclick="return clicked();" value="Send">Send</button>





  <!-- <validator id="validation" name="validation1">

      <div class="name-field">
        <label for="username">Name:</label>
        <input id="username" type="text" v-validate:username="['required']"><p class="forget" v-if="$validation1.username.required">Don't Forget Your Name!</p></input>
      </div>
      <div class="comment-field">
        <label for="comment">comment:</label>
        <textarea id="bio" id="comment" type="text" v-validate:comment="{ maxlength: 256 }" v-model="message"></textarea>
      </div> -->


		        <p v-if="$validation1.comment.maxlength">Your comment is too long.</p>



  </validator>
		    </form>
</fieldset>
</div>





		<footer class="main-footer">
			<a href="http://twitter.com/SunergosCoffee"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
			<a href="http://facebook.com/SunergosCoffee"><img src="img/facebook-wrap.png" alt="Facebook" class="social-icon"></a>


			<p>&copy; 2016 Luke Vaughan.</a>.</p>
			<a href="#top">Back to top &raquo;</a>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.validator/2.0.0-beta.2/vue-validator.min.js"></script>
	<script src="js/sweetalert.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maps.google.com/maps/api/js"></script>
  <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
